<% if current_user.twitter_check? %>
    <% if @followed_users_count > 0 %>
        <div class="jumbotron col col-md-12" id="followed-count">
            <div class='col col-md-6'>
                <h1><%= number_with_delimiter(@followed_users_count, :delimiter => ',') %></h1>
                <p>users followed since <%= @began_following_users.to_formatted_s(:long) %></p>
            </div>
            <div class='col col-md-6'>
                <% if @followers_count %>
                    <h1><%= number_with_delimiter(@followers_count, delimiter: ',') %></h1>
                    <p>followers the last time we checked</p>
                <% end %>
            </div>
            <div class='col col-md-6'>
                <% if @yesterdays_followers %>
                    <h1><%= number_with_delimiter(@yesterdays_followers, delimited: ',') %></h1>
                    <p>followers yesterday</p>
                <% end %>
            </div>
            <div class='col col-md-6'>
                <% if @yesterdays_followers %>
                    <h1><%= number_with_delimiter(@followers_count - @yesterdays_followers, delimited: ',') %></h1>
                    <p>difference</p>
                <% end %>
            </div>
        </div>
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p><strong>Tip!</strong> You can adjust your <a href="<%= edit_twitter_follow_preference_path(current_user.twitter_follow_preference) %>">preferences</a> anytime to change the hashtags to follow. You can also check the detailed <a href="<%= twitter_follows_path %>">activity</a> and unfollow people manually.</p>
        </div>
    <% else %>
        <div class="alert alert-info" role="alert">
            <h4>Looking good!</h4>
            <p>Just relax now, we'll start following some people for you shortly.</p>
        </div>
    <% end %>
<% else %>
    <div class="alert alert-info" role="alert">
        <h4>Hey man!</h4>
        <p>It looks like you still need to set things up.<br>Just check your preferences so that we can start following some awesome people for you.
        </p>
        <p>
            <a href="<%= edit_twitter_follow_preference_path(current_user.twitter_follow_preference) %>" class="btn btn-default">Set my preferences</a>
        </p>
    </div>
<% end %>
