<%= ["Hey", "Yo", "Sup", "Ahoy", "Rawr", "Boo"].sample %>, <a href='https://twitter.com/<%= current_user.twitter_username %>'>@<%= current_user.twitter_username %></a><br><br>

Twitter Status: <span class='<%= current_user.twitter_check? ? "alert alert-success" : "alert alert-danger" %>'><%= current_user.twitter_check? ? "Following" : "Awaiting user action" %></span><br><br>

<% if @followed_users_count > 0 %>
	You've followed <%= @followed_users_count %> users since <%= @began_following_users %>
	<br>
<% elsif !current_user.twitter_check? %>
	<p>Hey man, it looks like you still need to set things up. Check your preferences.</p>
<% end %>