<%= form_for(@credential) do |f| %>
  <% if @credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
      <% @credential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :user_id %><br/>

  <%= f.label :twitter_consumer_key %><br>
  <%= f.text_field :twitter_consumer_key %><br>

  <%= f.label :twitter_consumer_secret %><br>
  <%= f.text_field :twitter_consumer_secret %><br>

  <%= f.label :twitter_access_token %><br>
  <%= f.text_field :twitter_access_token %><br>

  <%= f.label :twitter_access_token_secret %><br>
  <%= f.text_field :twitter_access_token_secret %><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>