<%= form_for @twitter_follow_preference do |f| %>
  <% if @twitter_follow_preference.errors.any? %>
    <%= Airbrake.notify(@twitter_follow_preference.errors.full_messages) %>
  <% end %>


  <label for='unfollow_after'>Unfollow user after how many days? (2 maximum, 1 recommended)</label><br>
  <%= f.text_field :unfollow_after %><br>

  <%= f.label :hashtags, value: "Hashtags to follow users from (5 maximum, comma separated)" %><br>
  #<%= f.text_field :hashtags, placeholder: "javascript,catgifs,shipit" %><br>
  <br>

  <%= f.check_box :mass_follow %>
  <%= f.label :mass_follow, value: "Follow users?" %><br>
  
  <%= f.check_box :mass_unfollow %>
  <%= f.label :mass_unfollow, value: "Unfollow users?" %><br>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
