<% if @twitter_follows.empty? %>
  <div class="alert alert-info">
    <strong>Too soon!</strong> Check back in a few minutes, we haven't started with you yet.
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Username</td>
        <td>Hashtag</td>
        <td>Followed</td>
        <td>Unfollowed</td>
        <td>Unfollow User?</td>
      </tr>
    </thead>
    <tbody>
      <% @twitter_follows.each do |followed_user| %>
        <tr>
          <td id='username'><a href="https://twitter.com/<%= followed_user.username %>"><%= followed_user.username %></a></td>
          <td><%= followed_user.hashtag %></td>
          <td><%= followed_user.followed_at.strftime("%m/%d/%y") %></td>
          <td><%= "Unfollowed: #{followed_user.unfollowed_at.strftime("%m/%d/%y")}" rescue 'Still following' %></td>
          <td><button id='unfollow-btn' class='btn btn-error'>Unfollow</button></td>
        </tr> 
      <% end %>
    </tbody>


  </table>
<% end %>