<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <td><h4>Username</h4></td>
      <td><h4>Hashtag</h4></td>
      <td><h4>Followed</h4></td>
      <td><h4>Unfollowed</h4></td>
      <td><h4>Unfollow User?</h4></td>
    </tr>
  </thead>
  <tbody>
    <% @twitter_follow.last(500).each do |followed_user| %>
      <tr>
        <td id='username'><a href="https://twitter.com/<%= followed_user.username %>"><%= followed_user.username %></a></td>
        <td><%= followed_user.hashtag %></td>
        <td><%= followed_user.followed_at.strftime("%m/%d/%y") %></td>
        <td><%= "Unfollowed: #{followed_user.unfollowed_at.strftime("%m/%d/%y")}" rescue 'Still following' %></td>
        <td><button id='unfollow-btn' class='btn btn-error'>Unfollow</button></td>
      </tr> 
    <% end %>
  </tbody>


</table>