<!DOCTYPE html>
<html>
<head>
  <title>Followr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 
  true %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='nav'>
    <% if current_user %>
      <a class="btn btn-lg btn-primary" href="/dashboard">
      <i style='padding-right: 10px;' class="glyphicon glyphicon-user pull-left"></i><span>Dashboard</span></a> 
      <a class="btn btn-lg btn-primary" href="/twitter_follow_preferences/<%= current_user.twitter_follow_preference.id %>/edit">
      <i style='padding-right: 10px;' class="glyphicon glyphicon-user pull-left"></i><span>Follow Preferences</span></a> 
      <a class="btn btn-lg btn-primary" href="/logout">
      <i style='padding-right: 10px;' class="glyphicon glyphicon-user pull-left"></i><span>Sign Out</span></a> 
    <% else %> 
      <a class="btn btn-lg btn-primary" href="/auth/twitter">
      <i style='padding-right: 10px;' class="glyphicon glyphicon-user pull-left"></i><span>Sign in with Twitter</span></a>    
    <% end %>
  </div>


  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div> <br>
  <% end %>

  <div class='main'>
    <%= yield %>
  </div>

</body>
</html>
